body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../Images/img2.jpg");
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-container,
#register-container,
#dashboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}
